<form role="form" name="dashboard.officeForm" ng-submit="dashboard.submit('officeForm', dashboard.serviceProviderForm.$valid)" novalidate>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.companyName.$invalid && !dashboard.officeForm.companyName.$pristine }">
        <label class="control-label">Office License Number</label>
        <input type="text"
               name="companyName"
               class="form-control"
               ng-model="dashboard.office.officeId"
               ng-minlength="2"
               ng-maxlength="128">
        <p ng-show="!dashboard.officeForm.companyName.$pristine && dashboard.officeFormForm.companyName.$error.minlength" class="help-block">Company Name is too short</p>
        <p ng-show="!dashboard.officeFormForm.companyName.$pristine && dashboard.officeFormForm.companyName.$error.maxlength" class="help-block">Company Name is too long.</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.expirationDate.$invalid && !dashboard.officeForm.expirationDate.$pristine }">
        <label class="control-label">License Expiration Date</label>
        <input type="text"
               name="expirationDate"
               class="form-control datepicker valid"
               ng-model="dashboard.office.expirationDate"
               data-format="mm/dd/yyyy">
    </div>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.companyName.$invalid && !dashboard.officeForm.companyName.$pristine }">
        <label class="control-label">Office MLS ID</label>
        <input type="text"
               name="companyName"
               class="form-control"
               ng-model="dashboard.office.officeMlsId"
               ng-minlength="2"
               ng-maxlength="128">
        <p ng-show="!dashboard.officeForm.companyName.$pristine && dashboard.officeFormForm.companyName.$error.minlength" class="help-block">Company Name is too short</p>
        <p ng-show="!dashboard.officeForm.companyName.$pristine && dashboard.officeFormForm.companyName.$error.maxlength" class="help-block">Company Name is too long.</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.companyName.$invalid && !dashboard.officeForm.companyName.$pristine }">
        <label class="control-label">Company Name</label>
        <input type="text"
               name="companyName"
               class="form-control"
               ng-model="dashboard.office.officeName"
               ng-minlength="2"
               ng-maxlength="128">
        <p ng-show="!dashboard.officeForm.companyName.$pristine && dashboard.officeForm.companyName.$error.minlength" class="help-block">Company Name is too short</p>
        <p ng-show="!dashboard.officeForm.companyName.$pristine && dashboard.officeForm.companyName.$error.maxlength" class="help-block">Company Name is too long.</p>
    </div>
    <div class="form-group">
        <label class="control-label">Address 1</label>
        <input type="text"
               name="address1"
               ng-model="dashboard.office.address1"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">Address 2</label>
        <input type="text"
               name="address2"
               ng-model="dashboard.office.address2"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">City</label>
        <input type="text"
               name="city"
               ng-model="dashboard.office.city"
               class="form-control">
    </div>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.stateProvinceBusiness.$invalid && !dashboard.serviceProviderForm.stateProvinceBusiness.$pristine }">
        <label class="control-label">State</label>
        <select type="text"
                name="stateProvinceBusiness"
                class='form-control'
                ng-model="dashboard.office.licenseState">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Zip Code</label>
        <input type="text"
               name="zipCode"
               ng-model="dashboard.office.zipCode"
               class="form-control">
    </div>
    <div class="form-group" ng-class="{'has-error' : dashboard.officeForm.phoneWork.$invalid && !dashboard.officeForm.phoneWork.$pristine }">
        <label class="control-label">Phone Number</label>
        <input type="text"
               name="phoneWork"
               ng-model="dashboard.office.phoneNumber"
               ng-minlength="10"
               ng-maxlength="10"
               class="form-control input-phone"
               phone-input>
        <p ng-show="dashboard.officeForm.phoneWork.$error.minlength" class="help-block">Phone Number is too short</p>
        <p ng-show="dashboard.officeForm.phoneWork.$error.maxlength" class="help-block">Phone Number is too long.</p>
    </div>
    <div class="form-group">
        <label class="control-label">Website Url</label>
        <input type="text"
               name="website"
               ng-model="dashboard.office.websiteUrl"
               class="form-control">
    </div>
    <div class="margiv-top10">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
    </div>
</form>