<form role="form" name="passwordEdit.pwForm" ng-submit="passwordEdit.changePassword()" novalidate>

    <div class="form-group" ng-class="{'has-error': !passwordEdit.pwForm.password.$pristine && passwordEdit.pwForm.password.$invalid}">
        <label for="password">Current Password *</label>
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Current Password"
               ng-model="passwordEdit.pwInfo.currentPassword"
               ng-pattern="passwordEdit.pwValidation"
               max-length="32"
               min-length="6"
               required>
        <div role="alert" class="help-inline error">
            <span class="error" ng-show="!passwordEdit.pwForm.password.$pristine && passwordEdit.pwForm.password.$error.minlength">Short! Password must be 6 characters or more</span>
            <span class="error" ng-show="!passwordEdit.pwForm.password.$pristine && passwordEdit.pwForm.password.$error.maxlength">Too long! Password must be 32 characters or less</span>
            <span class="error" ng-show="!passwordEdit.pwForm.password.$pristine && passwordEdit.pwForm.password.$error.pattern">Password needs at least 1 Uppercase, Lowercase, Number, and Special Character</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !passwordEdit.pwForm.newPassword.$pristine && passwordEdit.pwForm.newPassword.$invalid}">
        <label for="newPassword">New Password *</label>
        <input name="newPassword"
               ng-model="passwordEdit.pwInfo.newPassword"
               type="password"
               class="form-control"
               placeholder="New Password"
               ng-pattern="passwordEdit.pwValidation"
               max-length="32"
               min-length="6"
               required>
        <div role="alert" class="help-inline error">
            <span class="error" ng-show="!passwordEdit.pwForm.newPassword.$pristine && passwordEdit.pwForm.newPassword.$error.minlength">Short! Password must be 6 characters or more</span>
            <span class="error" ng-show="!passwordEdit.pwForm.newPassword.$pristine && passwordEdit.pwForm.newPassword.$error.maxlength">Too long! Password must be 32 characters or less</span>
            <span class="error" ng-show="!passwordEdit.pwForm.newPassword.$pristine && passwordEdit.pwForm.newPassword.$error.pattern">Password needs at least 1 Uppercase, Lowercase, Number, and Special Character</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !passwordEdit.pwForm.confirmPassword.$pristine && passwordEdit.pwForm.confirmPassword.$invalid}">
        <label for="confirmPassword">Confirm password *</label>
        <input name="confirmPassword"
               ng-model="passwordEdit.pwInfo.confirmPassword"
               type="password"
               class="form-control"
               placeholder="Confirm Password"
               max-length="32"
               min-length="6"
               data-ng-match="passwordEdit.pwInfo.newPassword"
               required>
        <div role="alert" class="help-inline error">
            <span class="error" ng-show="!passwordEdit.pwForm.confirmPassword.$pristine && passwordEdit.pwForm.confirmPassword.$error.minlength">Short! Password must be 6 characters or more</span>
            <span class="error" ng-show="!passwordEdit.pwForm.confirmPassword.$pristine && passwordEdit.pwForm.confirmPassword.$error.maxlength">Too long! password must be 32 characters or less</span>
            <span class="error" ng-show="!passwordEdit.pwForm.confirmPassword.$pristine && passwordEdit.pwForm.confirmPassword.$error.match">Password must match</span>
        </div>
    </div>
    <div class="margiv-top10">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
    </div>
</form>